[include K-ShakeTune/*.cfg]

[include display.cfg]
[pause_resume]
[display_status]
[exclude_object]
[respond]

[gcode_macro _USER_VARIABLES]
# --- Firmware retraction ---
variable_firmware_retraction_enabled: True
# --- Heater bed ---
variable_heaterbed_enabled: True
# --- Filter / nevera fan ---
variable_filter_enabled: True
variable_filter_name: "filter"
# --- Mini display (uit display.cfg) ---
variable_minidisplay_bootlogo_enabled: True
variable_minidisplay_bootinfo_enabled: True
# light_intensity_start_print werd gelezen in display.cfg maar nergens gedefinieerd.
# Zet hier je gewenste caselight-helderheid bij printstart (0.0 - 1.0):
variable_light_intensity_start_print: 1.0
# --- Status LEDs ---
variable_status_leds_enabled: True
variable_status_leds_effects_enabled: False
variable_status_leds_logo_led_name: "status_leds"
variable_status_leds_logo_idx: '1'
variable_status_leds_nozzle_led_name: "status_leds"
variable_status_leds_nozzle_idx: '2,3'
gcode:

# Motor
# A/B: LDO-42STH48-2004MAH
# Z: LDO-42STH48-2004AC
# Extruder: LDO 36STH20-1004AHG
####################################################################
# 	General Settings
#####################################################################

[force_move]
enable_force_move = True

[virtual_sdcard]
path = ~/printer_data/gcodes

[mcu]

serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_14001F001750535556323420-if00
restart_method: command


[mcu toolhead]
canbus_uuid = 19a546aca8df
# c5ee12715040
# canbus_uuid = 739d4f6f9353

[mcu cartographer]
canbus_uuid: 8e31614779e1

[cartographer]
mcu: cartographer
# canbus_uuid: 8e31614779e1
# canbus_uuid: 1a676159fcf3            
#adjust to suit your scanner 
#serial: /dev/serial/by-id/usb-cartographer_cartographer_
#   Offsets are measured from the centre of your coil, to the tip of your nozzle 
#   on a level axis. It is vital that this is accurate. 
x_offset: 0                          
#    adjust for your cartographers offset from nozzle to middle of coil
y_offset: 15                         
# #    adjust for your cartographers offset from nozzle to middle of coil
# backlash_comp: 0.04798 
# #   Backlash compensation distance for removing Z backlash before measuring
# #   the sensor response.
# sensor: cartographer
# #    this must be set as cartographer unless using IDM etc.
# sensor_alt: carto
# #    alternate name to call commands. CARTO_TOUCH etc      
# mesh_runs: 2
# #    Number of passes to make during mesh scan.
verbose: no # For extra output

[bed_mesh]
zero_reference_position: 175, 175    
# set this to themiddle of your bed
speed: 200
#    movement speed of toolhead during bed mesh
horizontal_move_z: 5
#    height of scanner during bed mesh scan
mesh_min: 30, 30
#    start point of bed mesh [X, Y]
# mesh_max: 325, 325
mesh_max: 325, 300
#    end point of bed mesh [X, Y]
# probe_count: 30, 30
# algorithm: bicubic
probe_count: 20, 20
adaptive_margin: 10
mesh_pps: 0,0 # Disable interpolation - mesh is probably dense enough

# [temperature_sensor cartographer]
# sensor_type: temperature_mcu
# sensor_mcu: cartographer
# min_temp: 5
# max_temp: 110

# [temperature_sensor Cartographer_MCU]
# sensor_type: temperature_mcu
# sensor_mcu: scanner
# min_temp: 0
# max_temp: 105

#scanner_touch_threshold = 1250



[printer]
kinematics: corexy
max_velocity: 500  
max_accel: 3500             #Max 4000
max_z_velocity: 30          #Max 15 for 12V TMC Drivers, can increase for 24V
max_z_accel: 350
square_corner_velocity: 5.0

[idle_timeout]
timeout: 1800

#####################################################################
# 	TMC Autotune
#####################################################################

[autotune_tmc stepper_x]
motor: ldo-42sth48-2004mah
tuning_goal: performance
sgt: -7

[autotune_tmc stepper_y]
motor: ldo-42sth48-2004mah
tuning_goal: performance
sgt: -8

[autotune_tmc stepper_z]
motor: ldo-42sth48-2004ac
tuning_goal: auto
[autotune_tmc stepper_z1]
motor: ldo-42sth48-2004ac
tuning_goal: auto

[autotune_tmc stepper_z2]
motor: ldo-42sth48-2004ac
tuning_goal: auto

[autotune_tmc stepper_z3]
motor: ldo-42sth48-2004ac
tuning_goal: auto

# [autotune_tmc extruder]
# motor: ldo-36sth20-1004ahg
# tuning_goal: silent

#####################################################################
# 	Z Stepper Settings
#####################################################################


## Z0 Stepper - Front Left
##  Connected to MOTOR_2
##  Endstop connected to DIAG_2
[stepper_z]
step_pin: PF11
dir_pin: PG3
enable_pin: !PG5
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32
endstop_pin: probe:z_virtual_endstop # use cartographer as virtual endstop
homing_retract_dist: 0 # cartographer needs this to be set to 0
##  Z-position of nozzle (in mm) to z-endstop trigger point relative to print surface (Z0)
##  (+) value = endstop above Z0, (-) value = endstop below
##  Increasing position_endstop brings nozzle closer to the bed
##  After you run Z_ENDSTOP_CALIBRATE, position_endstop will be stored at the very end of your config
# position_endstop: 0
##--------------------------------------------------------------------
position_max: 310
position_min: -5
homing_speed: 25
second_homing_speed: 5

[tmc2209 stepper_z]
uart_pin: PC6
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0
interpolate: true

##  Z1 Stepper - Rear Left
##  Connected to MOTOR_3
[stepper_z1]
step_pin: PG4
dir_pin: !PC1
## Octopus 1.0 & 1.1.  Octopus PRO 1.0
enable_pin: !PA0
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z1]
uart_pin: PC7
interpolate: true
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

##  Z2 Stepper - Rear Right
##  Connected to MOTOR_4
[stepper_z2]
step_pin: PF9
dir_pin: PF10
enable_pin: !PG2
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z2]
uart_pin: PF2
interpolate: true
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

##  Z3 Stepper - Front Right
##  Connected to MOTOR_5
[stepper_z3]
step_pin: PC13
dir_pin: !PF0
enable_pin: !PF1
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z3]
uart_pin: PE4
interpolate: true
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

[include macros.cfg]
#####################################################################
# 	Extruder
#####################################################################

[extruder]
rotation_distance = 47.088
gear_ratio = 9:1
microsteps = 16
full_steps_per_rotation = 200
nozzle_diameter = 0.400
filament_diameter = 1.75
max_extrude_only_distance = 110
max_extrude_cross_section = 5
sensor_type: Generic 3950
pullup_resistor: 4700
min_temp = 10
max_temp = 350
max_power = 1.0
min_extrude_temp = 172
step_pin = toolhead:PD0
dir_pin = toolhead:PD1
enable_pin = !toolhead:PD2
heater_pin = toolhead:PB13
sensor_pin = toolhead:PA3
smooth_time: 2.0
#control = pid
#pid_kp = 21.692
#pid_ki = 1.026
#pid_kd = 114.697

[tmc2209 extruder]
uart_pin: toolhead:PA15
# stealthchop_threshold: 999999
run_current: 0.6
sense_resistor: 0.110

[firmware_retraction]
# G10 to retract and G11 to unrectract
retract_length: 0.4
# unretract_extra_length: 0
retract_speed: 30
unretract_speed: 30



#####################################################################
# 	Resonance testing
#####################################################################

# SB2209 ADXL
[resonance_tester]

accel_chip: adxl345

probe_points: 175, 175, 10

[adxl345]
cs_pin: toolhead: PB12
spi_software_sclk_pin: toolhead: PB10
spi_software_mosi_pin: toolhead: PB11
spi_software_miso_pin: toolhead: PB2
axes_map: x,y,z

[input_shaper]
shaper_freq_x: 59.8 # center frequency for the X axis filter
shaper_type_x: mzv # filter type for the X axis
shaper_freq_y: 41.8 # center frequency for the Y axis filter
shaper_type_y: mzv # filter type for the Y axis
damping_ratio_x: 0.069 # damping ratio for the X axis
damping_ratio_y: 0.046 # damping ratio for the Y axis

# # BTT Nozzle ADXL
# [mcu btt_adxl345]
# serial: /dev/serial/by-id/usb-Klipper_rp2040_45503571289411E8-if00

# [adxl345]
# cs_pin: btt_adxl345:gpio9
# #spi_bus: spi1a
# spi_software_sclk_pin: btt_adxl345:gpio10
# spi_software_mosi_pin: btt_adxl345:gpio11
# spi_software_miso_pin: btt_adxl345:gpio8
# axes_map: -x,-y,-z

# [resonance_tester]
# probe_points: 175, 175, 10
# accel_chip: adxl345

#####################################################################
# 	Bed Heater
#####################################################################

[heater_bed]
heater_pin = PA3
sensor_type = NTC 100K MGB18-104F39050L32
sensor_pin = PF3
max_power = 1
min_temp = 0
max_temp = 120
#control = pid
#pid_kp = 61.216
#pid_ki = 3.188
#pid_kd = 293.837

#####################################################################
# 	Fan Control
#####################################################################

[fan]
pin = toolhead:PA0
kick_start_time = 0.100
cycle_time = 0.010

[heater_fan hotend_fan]
pin = toolhead:PA1
max_power = 1.0
kick_start_time = 0.5
# cycle_time = 0.00004
hardware_pwm = false
heater = extruder
heater_temp = 50.0
fan_speed = 1


[temperature_fan rpi_fan]
pin = PD15
kick_start_time = 1.0
max_speed = 0.80
target_temp = 50
min_temp = 10
max_temp = 95
control = watermark
sensor_type = temperature_host

[controller_fan my_controller_fan]
pin: PD13
max_power: 1.0
cycle_time: 0.01
kick_start_time: 0.1
fan_speed: 0.80
stepper: stepper_x


[temperature_sensor mcu]
sensor_type = temperature_mcu
min_temp = 0
max_temp = 90

[temperature_sensor Chamber]
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PF5  ; Replace with your specific mainboard port (e.g., PEX or TH)
min_temp: 0
max_temp: 100
gcode_id: C

# [fan_generic filter]
# pin = PD14
# max_power = 1.0
# kick_start_time = 0.250
# off_below = 0.30

#####################################################################
# 	LED Control
#####################################################################

# [neopixel status_leds]
# pin = toolhead:PD3
# chain_count = 3
# color_order = GRBW
# initial_red = 1
# initial_green = 0.24
# initial_blue = 0

# Neopixel leds used on the toolhead (stealthburner style
# Also include directly the leds control macros from here
# [include status.cfg]
# [include config_colors.cfg]

[output_pin caselight]
pin: PB11
pwm:true
shutdown_value: 0
value:1
cycle_time: 0.01

[quad_gantry_level]


#  Gantry Corners for 350mm Build
#  Uncomment for 350mm build
gantry_corners:
  -60,-10
  410,420
#  Probe points
points:
  50,25
  50,275
  300,275
  300,25

#--------------------------------------------------------------------
speed: 100
horizontal_move_z: 10
retries: 5
# retry_tolerance: 0.0075
retry_tolerance: 0.01
max_adjust: 10


########################################
# EXP1 / EXP2 (display) pins
########################################

# [board_pins]
# aliases:
#     # EXP1 header
#     EXP1_1=PE8, EXP1_2=PE7,
#     EXP1_3=PE9, EXP1_4=PE10,
#     EXP1_5=PE12, EXP1_6=PE13,    # Slot in the socket on this side
#     EXP1_7=PE14, EXP1_8=PE15,
#     EXP1_9=<GND>, EXP1_10=<5V>,

#     # EXP2 header
#     EXP2_1=PA6, EXP2_2=PA5,
#     EXP2_3=PB1, EXP2_4=PA4,
#     EXP2_5=PB2, EXP2_6=PA7,      # Slot in the socket on this side
#     EXP2_7=PC15, EXP2_8=<RST>,
#     EXP2_9=<GND>, EXP2_10=<5V>

#####################################################################
# 	Displays
#####################################################################
#  mini12864 LCD Display
[display]
lcd_type: uc1701
cs_pin: PE9
a0_pin: PE10
rst_pin: PE12
encoder_pins: ^PB2, ^PB1
click_pin: ^!PE7
contrast: 63
spi_software_miso_pin: PA6
spi_software_mosi_pin: PA7
spi_software_sclk_pin: PA5

#  To control Neopixel RGB in mini12864 display
[neopixel btt_mini12864]
pin: PE13
chain_count: 3
initial_RED: 0.1
initial_GREEN: 0.5
initial_BLUE: 0.0
color_order: RGB

#  Set RGB values on boot up for each Neopixel. 
#  Index 1 = display, Index 2 and 3 = Knob
[delayed_gcode setdisplayneopixel]
initial_duration: 1
gcode:
       SET_LED LED=btt_mini12864 RED=1 GREEN=1 BLUE=1 INDEX=1 TRANSMIT=0
       SET_LED LED=btt_mini12864 RED=1 GREEN=1 BLUE=1 INDEX=2 TRANSMIT=0
       SET_LED LED=btt_mini12864 RED=1 GREEN=1 BLUE=1 INDEX=3 



#--------------------------------------------------------------------
#####################################################################
# 	Filament switch
#####################################################################

[shaketune]
# result_folder: ~/printer_data/config/ShakeTune_results
#    The folder where the results will be stored. It will be created if it doesn't exist.
number_of_results_to_keep: 3
#    The number of results to keep in the result_folder. The oldest results will
#    be automatically deleted after each runs.
# keep_raw_csv: False
#    If True, the raw CSV files will be kept in the result_folder alongside the
#    PNG graphs. If False, they will be deleted and only the graphs will be kept.
show_macros_in_webui: True
#    Mainsail and Fluidd doesn't create buttons for "system" macros that are not in the
#    printer.cfg file. If you want to see the macros in the webui, set this to True.
timeout: 300
#    The maximum time in seconds to let Shake&Tune process the CSV files and generate the graphs.

[include moonraker_obico_macros.cfg]


#####################################################################
# 	X/Y Stepper Settings
#####################################################################

## X Stepper on MOTOR0(B Motor)CARTOGRAPHER_SCAN_CALIBRATECARTOGRAPHER_SCAN_CALIBRATE
[stepper_x]
rotation_distance = 40
microsteps = 64
full_steps_per_rotation = 400
step_pin = PF13
dir_pin = PF12
enable_pin = !PF14
endstop_pin = tmc2240_stepper_x:virtual_endstop
# endstop_pin = toolhead:PB6
homing_speed = 120
homing_retract_dist = 15
position_min = 0
position_max = 350
position_endstop = 350

##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc2240 stepper_x]
diag0_pin = ^!PG6
driver_sgt = -13
cs_pin = PC4
spi_software_sclk_pin = PA5
spi_software_mosi_pin = PA7
spi_software_miso_pin = PA6
interpolate: true
run_current = 1.2
# run_current = 1.44
stealthchop_threshold = 0
# driver_tbl = 2
# driver_toff = 3
# driver_hstrt = 1
# driver_hend = 3
driver_SLOPE_CONTROL: 2
rref: 12000

## Y Stepper on MOTOR1 (A Motor)
[stepper_y]
rotation_distance = 40
microsteps = 64
full_steps_per_rotation = 400
step_pin = PG0
dir_pin = !PG1
enable_pin = !PF15
# endstop_pin = PG9
endstop_pin = tmc2240_stepper_y:virtual_endstop
homing_speed = 135
homing_retract_dist = 15
position_min = 0
position_max = 360
position_endstop = 360

[tmc2240 stepper_y]
diag0_pin = ^!PG9
cs_pin = PD11
spi_software_sclk_pin = PA5
spi_software_mosi_pin = PA7
spi_software_miso_pin = PA6
interpolate: true
run_current = 1.2
# run_current = 1.44
stealthchop_threshold = 0
# driver_tbl = 2
# driver_toff = 3
# driver_hstrt = 1
# driver_hend = 3
driver_SLOPE_CONTROL: 2
rref: 12000

# [safe_z_home]
# home_xy_position: 175, 175 # This should be for the CENTRE OF YOUR BED.

[homing_override]
axes: xyz
gcode:
    {% set home_all = 'X' not in params and 'Y' not in params and 'Z' not in params %}

    SET_KINEMATIC_POSITION Z=1
    G90
    G1 Z4 F1200

    {% if home_all or 'X' in params %}
    _HOME_X
    {% endif %}

    {% if home_all or 'Y' in params %}
    _HOME_Y
    {% endif %}

    {% if home_all or 'Z' in params %}
    G90
    G1 X175 Y175 F15000
    G28 Z
    G1 Z10 F1500
    {% endif %}
    
[gcode_macro _HOME_X]
gcode:
    G4 P200
    G28 X
    G91
    G1 X-10 F1800
    G90

[gcode_macro _HOME_Y]
gcode:
    G4 P200
    G28 Y
    G91
    G1 Y-10 F1800
    G90

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# pid_version = 1
#*# pid_target = 100.00
#*# pid_tolerance = 0.0200
#*# control = pid
#*# pid_kp = 61.638
#*# pid_ki = 3.261
#*# pid_kd = 291.240
#*#
#*# [extruder]
#*# pid_version = 1
#*# pid_target = 255.00
#*# pid_tolerance = 0.0200
#*# control = pid
#*# pid_kp = 23.238
#*# pid_ki = 1.088
#*# pid_kd = 124.036
#*#
#*# [cartographer scan_model default]
#*# coefficients = 1.4721466033121353,1.9782011053099733,0.8160172233103632,0.05827374550097076,0.6365464559698496,1.7743762573186408,-0.7127533217840717,-2.3189562340070307,0.5869578958059225,1.208814434549361
#*# domain = 3.2350140438911536e-07,3.3500880507499957e-07
#*# z_offset = 0
#*# reference_temperature = 200.29
#*# software_version = 1.7.0
#*# mcu_version = CARTOGRAPHER V3 6.1.0
#*#
#*# [cartographer touch_model default]
#*# threshold = 1263
#*# speed = 2
#*# z_offset = -0.05
#*# software_version = 1.7.0
#*# mcu_version = CARTOGRAPHER V3 6.1.0
